footer{
    background-color: #aa017e;
    padding-bottom: 50px;
    background-image: url(../../img/footer_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .setting{
        flex-direction: column;
        color: #fff;
        h3{
            font-weight: 700;
            margin-bottom: 25px;
        }
        li{
            font-weight: 100;
            i{
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }
        }
        .icons{
            i{
                margin-right: 5px;
                transition: all 1s;
                &:hover{
                    color: #000000;
                }
            }
        }
    }
    .box2{
        ul{
            li{
                border-bottom: 1px solid rgba(0,0,0,.1);
                padding-bottom: 10px;
                margin-top: 10px;
                a{
                    transition: all 1s;
                    color: #fff;
                    &:hover{
                        color: #e0a4d1;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .box3{
        input{
            display: block;
            background: transparent;
            border: 1px solid rgba(0,0,0,.1);
            text-align: center;
            height: 45px;
            border-radius: 22.5px;
            color: #fff;
            margin-bottom: 20px;
            &::placeholder{
                color: #fff;
                opacity: 1;
                font-weight: 100;
            }
            &:focus{
                background: transparent;
                outline: none;
                border: 1px solid rgba(255, 255, 255, 0.5);
                box-shadow: none;
            }
        }
        .btButtonWidgetLink{
            display: block;
            height: 50px;
            width: 100%;
            line-height: 30px;
            text-align: center;
            box-shadow: 0 0 0 3em #fff inset;
            border-radius: 25px;
            color: $color-button-default !important;
            border: 1px solid #fff;
            background: transparent !important;
            
            -webkit-box-shadow: 0 0 0 3em #fff inset;
            box-shadow: 0 0 0 3em #fff inset;
            color: #181818;
            align-items: center;
            justify-content: center;
            &:hover{
                -webkit-box-shadow: 0 0 0 1px #fff inset;
                box-shadow: 0 0 0 1px #fff inset !important;
                color: #fff !important;
                text-decoration: none;
            }
        }
    }
    .imgBG{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}